<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleLocalizations</key>
	<array>
<string>de</string>
<string>ja</string>
<string>en</string>
<string>zh_CN</string>
<string>es</string>
<string>pt_BR</string>
<string>it</string>
<string>cs</string>
<string>ko</string>
<string>pl</string>
<string>zh_TW</string>
<string>fr</string>
</array>
	<key>CFBundleExecutable</key>
	<string>WinAppHelper</string>
	<key>CFBundleName</key>
	<string>File Explorer</string>
	<key>CFBundleGetInfoString</key>
	<string>18.0, C:\Windows\explorer.exe</string>
	<key>CFBundleIconFile</key>
	<string>WinAppHelper.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.parallels.winapp.ce792c530b68d72a672d77a11c6d0df2.f54b10c6243249ea851e52fb4b4600d0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>Windows 11</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>19.54734.0</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>NSPrincipalClass</key>
	<string>CStubApplication</string>
		<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Supported protocols</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>explorer.assocactionid.burnselection</string>
				<string>explorer.assocactionid.erasedisc</string>
				<string>explorer.assocactionid.zipselection</string>
				<string>explorer.assocprotocol.search-ms</string>
				<string>explorer.burnselection</string>
				<string>explorer.erasedisc</string>
				<string>explorer.zipselection</string>
				<string>search</string>
				<string>search-ms</string>
</array>
		</dict>
	</array>
<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>*/*</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>7z</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>7Z file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bz2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BZ2 file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cab</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CAB file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>exe</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>EXE file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GZ file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>msi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MSI file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>osdx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OSDX file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>p7s</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>P7S file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rar</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RAR file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SCF file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tar</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TAR file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tbz2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TBZ2 file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tgz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TGZ file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TXZ file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tzst</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TZST file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>udl</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>UDL file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XZ file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ZIP file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zst</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ZST file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
</dict>
</plist>
